.navbar-light .navbar-brand {
  color: white;
}

.navbar-brand {
  background-color: rgb(49, 170, 165);
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin-left: 55px;
}

.bg-light {
  background-color: white !important;
}

.grayback {
  background-image: url("images/grayparch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  background-attachment: relative;
}

.container {
  width: 100%;
  margin-left: 0px;
}

h1 {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(49, 170, 165);
  padding: 15px;
  margin-left: 55px;
  margin-top: 15px;
}
